body {

background-color:#ada299;
font-family:'Courier New', Courier, monospace;
color:#331a00 ;
font-style: italic;
text-align: center;
font-weight: 700;

}


#list {

list-style-type: circle;
text-align:left

}